<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span class="page-title"
          (click)="onTitle()">
      Product Catalog
    </span>

    <div fxFlex
         fxLayout
         fxLayoutAlign="flex-end">

      <div fxLayout
           fxLayoutGap="20px">

        <!--        <div fxHide.xs>-->
        <!--          <products-web-theme-picker></products-web-theme-picker>-->
        <!--        </div>-->

        <div fxHide.xs>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </div>

        <div *ngIf="user && !user.anonymous; else anonymousUse;">

          <button mat-icon-button
                  [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>

          <mat-menu #auth="matMenu">
            <button mat-menu-item>
              <span>{{ user.name }} ({{ user.email }})</span>
            </button>

            <button mat-menu-item
                    (click)="onSettings()">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>

            <button mat-menu-item
                    (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>

        </div>

        <ng-template #anonymousUse>
          <div fxHide.xs>
            <button mat-icon-button
                    (click)="onLogin()">
              Sign in
            </button>
          </div>
        </ng-template>

      </div>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
